<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!-- <add name="Main" connectionString="metadata=res://*/DBOmnimarkModel.csdl|res://*/DBOmnimarkModel.ssdl|res://*/DBOmnimarkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=151.106.38.194;initial catalog=DBExtreme;persist security info=True;user id=amazonomnimark;password=oMbr447!;multipleactiveresultsets=True;connect timeout=20;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
	  <add name="Main" connectionString="Server=crypto.revupcommerce.net,1433;Database=DBDexCrypto;MultipleActiveResultSets=true;Encrypt=false;User Id=amazonomnimark;Password=oMbr447!;Connection Timeout=60;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add value="118.102.158.27,70.209.26.140,97.68.219.78,118.102.250.74,97.68.219.135" key="AuthorizeIPAddresses"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="NewPurchaseOrderNotificationList" value="marketing@virodyne.com"/>
    <add key="NewReceivedShipmentNotificationList" value="marketing@virodyne.com"/>
    <add key="SMTPServer" value="dedrelay.secureserver.net"/>
    <add key="SMTPUser" value="systememail@revupcommerce.com"/>
    <add key="SMTPPassword" value="D8e#37!"/>
    <add key="SMTPNoSSL" value="true"/>
    <!-- BEGIN eBay weirdness -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi"/>
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**LlbXUg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4qpAJKCoASdj6x9nY+seQ**QRcCAA**AAMAAA**nhphX3FIfat+mWpSKN7/f2jSfqGwoQivoOChEjHKRTy8/O4oBiBDFtX4rwEkTRpCTY9JfhKjXFeI7VC9F9Ee3DYBNVA6O2eGII4UJB/g/7Xeung4dvlUSBDehFPm1+J+5cJ44Q4hZ1v/mTVFRaIVWTZxqyPLOlgFvIGEvs8EAegyY9wxE6uny8lM9WBQ4i2ESdUN9RvHL8t+ra0N+DgXSvZkp5Wzq/FzOA4PQP8njY7fe7A5eQmhViXfMZdT6AYt4MQdpXbtpMgK6aDFIIq+YouH3ldNNtx012SJbSm/uY7blvJizsUQRXg1QGa7bQYRGcnnkNeQnV5jkc3sG7BTbRBerTeWxBk9rFZYceMu2Q2JMQrsfqtf8mCv1AnZsLmMVGmqmCbYqTDjDlJPQN3kgqjNIwC8WHVkGSPiFo/i/pv77QYrYJwCpyWp2/31qGMFOHriq6kziwqUlh54vXpvVbkBOpYYgmHIdQPatIWP2RM4YVTWz3XQyLqM+gO+C9qE95Qr6/BK2WhwYiAQvSKXe0SAtXoOxgnm0gSh1fh6ozcod2jAzcDgjFgZoE9oIavrTuI4YQnQLj7iSfn1zJXLwnwgroQpcTyI9VxzEQc8Ce8BPV4o7F3Zmvk9A+Cxnl6Pv7RJ2rb0eZtJvizv3zN3Q6QIHsCrUQDNhOZVycLfPH544iMwvx6s3UGfe2gFF7+rLy2IAPA0EDmQbEplN8uSZuSIdjHPdVEA6rjPO1xDspoO3hGocHJhPsfiFHvKmMD7"/>
    <!-- END eBay weirdness -->
    <add key="elmah.mvc.disableHandler" value="false"/>
    <add key="elmah.mvc.disableHandleErrorFilter" value="false"/>
    <add key="elmah.mvc.requiresAuthentication" value="false"/>
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false"/>
    <add key="elmah.mvc.allowedRoles" value="*"/>
    <add key="elmah.mvc.allowedUsers" value="*"/>
    <add key="elmah.mvc.route" value="elmah"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="208.109.217.94" userName="systememail@revupcommerce.com" password="D8e#37!"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
